.App {
    margin: 0px;
    padding: 0px;

    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

    z-index: 1;
}

.AppBackground {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.534);
    z-index: 2;
}

.App-logo {
    margin: 10px 20px;
    padding: 10px;
    /* border: solid 1px rgb(233, 143, 70); */
    width: 120px;
    height: 70px;
}

.App-logo img {
    margin: 0px;
    padding: 1px;

    width: 120px;
    height: 70px;
}

/* 
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}



@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */
