.index {
    margin: 40px auto;
    padding: 0px;

    width: 500px;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.viewModal {
    margin: 10px;
    padding: 40px;
    /* border: solid 1px blue; */
    justify-content: center;
    height: 400px;

    width: 300px;
    min-height: 400px;

    background-color: white;
    border-radius: 30px;
    box-shadow: 1px 1px 2px 1px rgba(182, 179, 179, 0.52),
        -1px -1px 5px 1px rgba(182, 179, 179, 0.52);
}

.viewModal:hover {
    box-shadow: 1px 1px 8px 1px rgba(155, 154, 154, 0.746),
        -1px -1px 2px 1px rgba(182, 179, 179, 0.301);
}

.index .viewModal .title {
    margin: 0px auto 26px;
    padding: 5px;
    text-align: center;
    font-size: 18px;
    color: hsl(225, 100%, 65%);
    font-family: sans-serif;
}

.viewModal .btnBoxx {
    margin: 10px auto;
    padding: 5px;
    width: 100%;
    display: flex;
}

.viewModal .btnBoxx .Tbtn {
    margin: auto;
    padding: 6px 40px;
    /* width: 100px;
    height: auto; */
    border: none;
    display: flex;

    border-radius: 20px;
    background-color: #3366ff;
    color: whitesmoke;
    font-size: 17px;
    font-weight: lighter;

    box-shadow: 1px 1px 2px 1px rgba(182, 179, 179, 0.52),
        -1px -1px 5px 1px rgba(182, 179, 179, 0.52);
}

.viewModal .btnBoxx .Tbtn:hover {
    background-color: hsl(225, 100%, 65%);
}

form {
    margin: 20px;
    padding: 2px;
    max-width: 100%;
}
form input {
    margin: auto;
    padding: 3px 5px 3px 12px;
    display: flex;
    position: relative;

    border: solid 1px blue;
    outline: 2px blue;
    width: 100%;
    height: 40px;
    border-radius: 30px;
}

form #btn {
    margin: auto;
    padding: 8px 45px;
    display: flex;
    outline: none;
    border: none;
    background-color: #3366ff;
    font-size: 17px;
    border-radius: 30px;
    color: white;
}

form #btn:hover {
    background-color: hsl(225, 100%, 65%);
}

form p {
    margin: 1px;
    padding: 5px;

    font-size: 14px;
    font-family: sans-serif;
    color: rgb(223, 69, 69);
}
